html{
    scroll-behavior: smooth;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Open sans', sans-serif;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}